<html>
<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<title></title>
<!-- Bootstrap Styles-->
<link href="/assets/css/bootstrap.css"
	rel="stylesheet" ></link>
<!-- FontAwesome Styles-->
<link href="/assets/css/font-awesome.css"
	rel="stylesheet" ></link>
<!-- Custom Styles-->
<link href="/assets/css/custom-styles.css"
	rel="stylesheet" ></link>

<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>
</head>
<body>

	<div id="wrapper">
		<nav class="navbar navbar-default top-navbar" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html"><i
					class="fa fa-comments"></i> <strong>微信 </strong></a>
			</div>
		</nav>
		<!--/. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li><a href="/admin/client/list"
						target="maintain_info"><i class="fa fa-dashboard"></i>客户信息</a></li>
				</ul>
				<ul class="nav" id="main-menu">
					<li><a href="/admin/lesson"
						target="maintain_info"><i class="fa fa-dashboard"></i>课程表</a></li>
				</ul>
				<ul class="nav" id="main-menu">
					<li><a href="/admin/banner"
						target="maintain_info"><i class="fa fa-dashboard"></i>轮播图</a></li>
				</ul>
			</div>
		</nav>
		<div id="page-wrapper">
			<iframe id="maintain_info" name="maintain_info"
				style="width: 100%; height: 1200px;" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
</body>
</html>