<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"></meta>
  <meta http-equiv="Expires" content="0"></meta>
  <meta http-equiv="Cache-Control" content="no-cache"></meta>
  <meta http-equiv="Pragma" content="no-cache"></meta>
  
  <title>
	神秘的页面
  </title>
	<script type="text/javascript">
		document.onkeydown=function(event) { 
			e = event ? event :(window.event ? window.event : null); 
		    if(e.keyCode==13){ 
	         	login();
		 	} 
	    } 
		
		function login(){
			if(document.getElementById("userCode").value==''){
				document.getElementById("errMsg").innerHTML='User name is null';
				return;
			}
			if(document.getElementById("passwd").value==''){
				document.getElementById("errMsg").innerHTML='Password is null';
				return;
			}
			document.getElementById("login_form").submit();
		}
		
		var ll=location+"";
		if(ll.indexOf("error")!=-1){
			alert("页面已关闭");
		}
	</script>       
	<style type="text/css">
	        .style1
	        {
	            height: 6px;
	            width: 27px;
	        }
	        .style2
	        {
	            width: 27px;
	        }
	        .validSpan{
				color:red;	
			}
	    </style>
	     
</head>
<body style="padding: 0px;margin: 0px;">

<div style="width: auto;min-height: 70px;line-height: 70px;border-bottom: medium solid #39A631;">
	<div>
		<span class="title_con" style="font-family:&quot;微软雅黑&quot;;font-style: normal;font-size: 2em;font-weight:800 ;color: #39A631;padding-left: 1em;">后台系统</span>
	</div>
</div>

<div style="width: auto;height:28em;text-align: center;background-image: url(img/xgxt_login_bg.jpg);background-size: 100% 100%;">
	<center>
		<form id="login_form" name="login_form" action="/admin/" method="post">

		<div style="position:relative; top:220px;left:80px; z-index: 10px;"><span id="errMsg" class="validSpan"></span></div>

		<div style="width: 35%;height: 20em;margin-top:4em;border: thin solid #8EC172;">
		<div style="background-color: #8EC172;width: auto;height: 3.5em;line-height: 3.5em;text-align: center;">
			<span style="font-family: &quot;微软雅黑&quot;;font-size: 1.5em;font-weight: 800;color: #FFF;">欢迎来到神秘的页面</span>
		</div>
		<div class="con_panel">
			<div style="margin: 2em 0 1em 0;">
				<span style="font-family: &quot;微软雅黑&quot;;font-size: 1em;font-weight: bold;color: #333;">用户名：</span><input id="userCode" name="userCode" style="width: 15em;padding: 0.5em 1em;border: 1px solid #bbb;" placeholder="账号" type="text"></input>
			</div>
			<div style="margin: 2em 0 1em 0;">
				<span style="font-family: &quot;微软雅黑&quot;;font-size: 1em;font-weight: bold;color: #333;">密&nbsp;&nbsp;&nbsp;&nbsp;码：</span><input id="passwd" name="passwd" style="width: 15em;padding: 0.5em 1em;border: 1px solid #bbb;" placeholder="密码" value="" type="password"></input>
			</div>
			<input value="登    录" style="width: 8em;height: 2em;background-color: #62ab00;border-radius: 4px;border: 0px;color: #fff;font-family:&quot;微软雅黑&quot;;font-size: 1em;font-weight: bold;" type="submit"></input>
		</div>
	</div>
	</form>
	</center>
</div>

<script language="JavaScript"> 
	if (window != top)
		top.location.href = location.href; 
</script>


</body></html>