<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"></meta>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
    <title>期指金汇投直播间</title>
    <link rel="stylesheet" href="./css/style.css"></link>
    <link rel="stylesheet" href="./css/mui.css"></link>
    <link rel="stylesheet" type="text/css" href="./css/iconfont.css"></link>
    <script src="./js/mui.js"></script>
    <script type="text/javascript" src="./js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="./js/jquery.JPlaceholder.js"></script>
    <script src="./js/a.js"></script>
</head>

<body>
    <div class="mui-content">
        <!-- 侧滑导航根容器 -->
        <!--管理员输入-->
        <div class="warden">
            <div class="bottom_input">
                <div class="gly"><a href="" class="iocn"><img src="./images/iocn.png" alt=""></img></a></div>
                <div class="cont">
                    <input id="sendMsgInput" type="text" name="firstname" placeholder="实时解答，全天喊单"></input>
                </div>
                <div class="pic">
                    <a href="javascript:;" class="expression" id="upload_pic">
                        <img src="./images/pic.png" alt=""></img>
                    </a>
                </div>
                <div class="mui-button">
                    <button id="subbtn" type="button" class="button">发送</button>
                    <div id="info"></div>
                </div>
            </div>
        </div>      
        <!--内容部分-->        
        <div>
            <div id="segmentedControl" class="mui-segmented-control">
                <a class="mui-control-item mui-active" href="#item1" data-type="1">分析师观点</a>
                <a class="mui-control-item" href="#item2" data-type="2">讨论区</a>
            </div>
        </div>
        <div>
            <div id="item1" class="mui-control-content mui-active" data-type="1">
                <!--参看人数和剩余时长定位不动内容-->
                <div class="watch">75203人次
                    <span>·</span>剩余时长
                    <span>110:25:30</span>
                </div>
                <!--头部加载更多内容-->
                <div class="load">下拉加载更多</div>
                <div class="history" id="adminhistory">
                    <span>——</span>上次看到这里
                    <span>——</span>
                </div>
                <div id="adminTopMsg"></div>
                <div id="adminButtomMsg"></div>
                <div style="display:block;height:100px;"></div>
            </div>
            <div id="item2" class="mui-control-content" data-type="2">
                <div class="watch">95203人次
                    <span>·</span>剩余时长
                    <span>80:25:30</span>
                </div>
                <!--头部加载更多内容-->
                <div class="load">下拉加载更多</div>
                <div>
                	<img src="./images/img1.jpg" id="ppp"></img>
                </div>

                <div class="history" id="customerhistory">
                    <span>——</span>上次看到这里
                    <span>——</span>
                </div>
                <div id="customerTopMsg"></div>
                <div id="customerButtomMsg"></div>
                <div style="display:block;height:100px;"></div>
            </div>

        </div>
    </div>
    <div id="uploadForm" style="position:absolute;background-color:white;display:none;">
	    <input id="file" type="file" multiple="multiple"/>
	    <button id="uploadBtn" type="button">上传</button>
	</div>
	<div class="bigpic">
		<img id="imgView"  src="./images/ceshi.jpg" ></img>
	</div>
   <script src="./js/b.js"></script>
   <script th:inline="javascript">  
		var targetClientId="";
		var serverUrl= [[${serverUrl}]];
		
		var clientid = [[${clientinfo.clientid}]];
		var level= [[${clientinfo.level}]];
		var status= [[${clientinfo.status}]];
		var ssid= [[${clientinfo.openId}]];
		var headImgUrl= [[${clientinfo.headImg}]];
		var timeleft= [[${clientinfo.timeLeft}]];
		var date=0;
		
		var _second=0;
		var _minute=timeleft%60;
		var _hour=parseInt(timeleft/60);
		var _heart;
		
		var totalclints=[[${totalclints}]];
	</script>

	<script src="./js/socket.io/socket.io.js"></script>
	<script th:if="${clientinfo.level==1}" src="./js/index.js"></script>
	<script th:if="${clientinfo.level==1}" src="./js/socket.js"></script>
    <script th:if="${clientinfo.level==10}" src="./js/index-admin.js"></script>
	<script th:if="${clientinfo.level==10}" src="./js/socket-admin.js"></script>
	<script th:if="${clientinfo.level==11}" src="./js/index-teacher.js"></script>
	<script th:if="${clientinfo.level==11}" src="./js/socket-teacher.js"></script>
	
</body>

</html>