<html lang="en">
<head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"></meta>
	<title>和讯操盘宝-官方指定直播间</title> 
    <meta name="description" content="和讯操盘宝汇集顶尖专业分析师团队，特邀名师解盘，24小时不间断连播，为您提供最新最全面最专业的贵金属，白银投资，原油，石油，EIA,非农操作建议走势分析等服务，完美狙击大行情" />
    <meta name="keywords" content="白银投资，现货白银直播间,现货白银直播间喊单,白银喊单，贵金属实盘直播，原油投资，石油投资，EIA行情分析,非农数据分析，和讯,和讯直播室," />
	<link rel="shortcut icon" type="image/x-icon" href="./favicon/favicon.ico"></link>
	<link rel="stylesheet" href="./css/style.css" ></link>
	<link rel="stylesheet" href="./css/layout.css" ></link>
	<link rel="stylesheet" href="./css/jquery.mCustomScrollbar.css"></link><!--滚动-->
	<link rel="stylesheet" href="./css/jquery.sinaEmotion.css"></link><!--表情-->
	<link href="./jcountdown/jcountdown.css" rel="stylesheet" type="text/css"></link>
	<script type="text/javascript" src="./js/html5shiv.min.js"></script>
	<script src="./js/jquery-1.8.2.min.js"></script>
	<script>
		var default_info="早操作，早盈利，石油、黄金、欧元全天解盘，精准喊单，经得住考验";
	</script>
</head>
<body class="outside">
<span style="display:none">

<script src="https://s13.cnzz.com/z_stat.php?id=1269807078&amp;web_id=1269807078" language="JavaScript"></script>
</span>
<div class="bg layout_sider_left btnColor1 layout_video_left">
	<header>
		<h1></h1>
		<a href="javascript:window.location.href='./qizhihuitrade.cn.url';" class="desktop"></a>
		<nav class="sub">
			<a href="javascript:;" class="calHead">财经日历</a>
			<a href="javascript:;" class="eiaHref">EIA原油库存</a>
			<a href="javascript:;" class="unHref">非农数据</a>
			
		</nav>
		<div class="head_right">
			<b href="javascript:;" class="layout">
				<b></b>
				<div class="layMenu" id="layMenu">
						<div class="layBox">
							<h2><span>个性化</span></h2>
							<h3>布局</h3>
							<div class="layoutWrap">
								<h4>固定菜单位置</h4>
								<div class="layoutSider">
									<span class="layoutSiderSpan layoutSider_left active" data-theme="layout_sider_left"></span>
									<span class="layoutSiderSpan layoutSider_right" data-theme="layout_sider_right"></span>
								</div>
								<h4>视频位置</h4>
								<div class="layoutVideo">
									<span class="layoutVideoSpan layoutVideo_left" data-theme="layout_video_left"></span>
									<span class="layoutVideoSpan layoutVideo_center" data-theme="layout_video_center"></span>
									<span class="layoutVideoSpan layoutVideo_right active" data-theme="layout_video_right"></span>
								</div>
							</div>
							<h4>按钮颜色</h4>
							<div class="btnColorWrap">
								<span class="btnColor color1 active" data-theme="btnColor1"></span>
								<span class="btnColor color2" data-theme="btnColor2"></span>
								<span class="btnColor color3" data-theme="btnColor3"></span>
								<span class="btnColor color4" data-theme="btnColor4"></span>
								<span class="btnColor color5" data-theme="btnColor5"></span>
								<span class="btnColor color6" data-theme="btnColor6"></span>
								<span class="btnColor color7" data-theme="btnColor7"></span>
								<span class="btnColor color8" data-theme="btnColor8"></span>
								<span class="btnColor color9" data-theme="btnColor9"></span>
							</div>
							<h4>背景色</h4>
							<div class="backWrap">
								<span class="backColor back1" data-theme="backBg1"></span>
								<span class="backColor back2" data-theme="backBg2"></span>
								<span class="backColor back3" data-theme="backBg3"></span>
								<span class="backColor back4" data-theme="backBg4"></span>
								<span class="backColor back5" data-theme="backBg5"></span>
								<span class="backColor back6" data-theme="backBg6"></span>
								<span class="backColor back7" data-theme="backBg7"></span>
								<span class="backColor back8" data-theme="backBg8"></span>
								<span class="backColor back9" data-theme="backBg9"></span>
							</div>
							<h4>背景图</h4>
							<div class="backWrap bgWrap">
								<span class="backBg bg1 active" data-theme="backBg10"></span>
								<span class="backBg bg2" data-theme="backBg11"></span>
								<span class="backBg bg3" data-theme="backBg12"></span>
								<span class="backBg bg4" data-theme="backBg13"></span>
								<span class="backBg bg5" data-theme="backBg14"></span>
								<span class="backBg bg6" data-theme="backBg15"></span>
								<span class="backBg bg7" data-theme="backBg16"></span>
								<span class="backBg bg8" data-theme="backBg17"></span>
								<span class="backBg bg9" data-theme="backBg18"></span>
							</div>
						</div>
				</div>
				
			</b>
			<a href="javascript:;" class="exit" style="display:none">退出</a>
			<a href="javascript:;" class="headLog log"></a>
			<!-- <a href="javascript:;" class="headReg reg"></a>
			<p class="time1">24小时客服电话：<span>4001-054-080</span></p> -->
			<p class="time2" ></p>
		</div>
	</header>
	<div class="listLeft">
		<a href="javascript:;" class="courseHref">
			<i class="listIcon list1"></i>
			<span>课程安排</span>
		</a>
		<a href="javascript:;" class="leftHref">
			<i class="listIcon list3"></i>
			<span>交易策略</span>
		</a>
		<a href="javascript:;" class="teach">
			<i class="listIcon list5"></i>
			<span>老师介绍</span>
		</a>
		<a href="javascript:;" class="leftHref2">
			<i class="listIcon list6"></i>
			<span>服务体系</span>
		</a>
		<a href="javascript:;" class="aboutUsHref">
			<i class="listIcon list7"></i>
			<span>关于我们</span>
		</a>
		<!-- <div class="codeBox">
			<div class="codeLeft">
				<img src="images/codeBox.png"></img>
				<img src="images/codeClose.jpg" class="codeClose"></img>
				<div class="line"></div>
				<p></p>
			</div>
			<div class="codeMain">
				<img src="images/codeMain.jpg"></img>
				<img src="images/codeV.png"></img>
				<p>公众号：<span>ddvmoney</span></p>
			</div>
		</div> -->
	</div>	
	<div id="list">
		<div id="main">
			<div class="main">
				<div id="topic" style="height: 464px;">
					<div class="topicMain">
						<div class="notice">
							<b></b>
							<div id="marq">
								<ul>
									<li th:utext="${topInfo.msgContent}"></li>
								</ul>
							</div>
						</div>
						<div class="topiccontent mCustomScrollbar _mCS_1">
							<div class="mCustomScrollBox mCS-light" id="mCSB_1">
								<div class="mCSB_container">
									<div id="topicbox"> 
									    <div class="talk" th:each="msg : ${historyMessage}">
											<span class="time" th:text="${#dates.format(msg.times, 'HH:mm')}"></span>
											<span>
												<img th:if="${msg.level==1}" src="images/icon1.png" title="普通"></img>
												<img th:if="${msg.level==2}" src="images/icon2.png" title="普通"></img>
												<img th:if="${msg.level==3}" src="images/icon3.png" title="普通"></img>
												<img th:if="${msg.level==4}" src="images/icon4.png" title="普通"></img>
												<img th:if="${msg.level==5}" src="images/icon5.png" title="普通"></img>
												<img th:if="${msg.level==10}" src="images/icon10.png" title="巡管"></img>
												<img th:if="${msg.level==11}" src="images/icon11.png" title="老师"></img>
												<div class="person_name">
													<a href="javascript:;" class="name" th:text="${msg.sourceClientId}"></a>
												</div>
												<i th:if="${msg.targetClientId!=''}" class="at">对</i>
												<div th:if="${msg.targetClientId!=''}"  class="person_name">
													<a href="javascript:;" class="name" th:text="${msg.targetClientId}"></a>
												</div>
											</span>
											<div th:if="${msg.msgType=='black'}" class="talk_hua talk_hua1"><p th:utext="${msg.msgContent}"></p></div>
											<div th:if="${msg.msgType=='red'}" class="talk_hua talk_hua2"><p th:utext="${msg.msgContent}"></p></div>
											<div th:if="${msg.msgType==''}" class="talk_hua"><p th:utext="${msg.msgContent}"></p></div>
										</div>
									</div>
								</div>
								<div class="mCSB_scrollTools" style="position: absolute; display: block; opacity: 0;">
									<a class="mCSB_buttonUp" oncontextmenu="return false;"></a>
									<div class="mCSB_draggerContainer">
										<div class="mCSB_dragger" style="position: absolute; top: 268px; height: 33px;" oncontextmenu="return false;">
											<div class="mCSB_dragger_bar" style="position: relative; line-height: 33px;"></div>
										</div>
										<div class="mCSB_draggerRail"></div>
									</div>
									<a class="mCSB_buttonDown" oncontextmenu="return false;"></a>
								</div>
							</div>
						</div>
						<div id="topicinput">
							<div class="input_area">
								<div class="tool_bar">
									<a href="javascript:;" id="bt_face" class="bar_2 bar"></a>
									<a href="javascript:;" id="bt_caitiao" class="bar_3 bar" >
										<div id="caitiao">				
											<dl id="c_pt">
												<dd onclick="sendCaitiao('pt掌声')">掌声</dd>
												<dd onclick="sendCaitiao('pt送鲜花')">送鲜花</dd>
												<dd onclick="sendCaitiao('pt顶一个')">顶一个</dd>
												<dd onclick="sendCaitiao('pt赞一个')">赞一个</dd>
												<dd onclick="sendCaitiao('pt给力')">给力</dd>
												<dd onclick="sendCaitiao('pt棒！')">棒！</dd>
											</dl>
										</div>
									</a>
									<a href="javascript:;" class="bar_1 bar" id="upload_pic"></a>
									<select th:if="${level >= 10}" id="fonts">
										<option value="">---无---</option>
										<option value="top">公告</option>
										<option value="scrol">浮动</option>
										<option value="red">聊天样式-红字</option>
										<option value="black">聊天样式-黑字</option>
									</select>
								</div>
								<div class="inputBox">
									<div id="sendMsgInput" contentEditable="true" ></div>
								</div>
								<a href="javascript:;" class="sub_btn">发送</a>
							</div>
						</div>
					</div>
				</div>
				<div class="video">
					<div class="videoMain">
						<div class="title">
							<span>在线直播视频</span>
							<b>当前可观看视频时间<span class="countdown"></span>分钟</b>
						</div>
						<div class="emb">
							<iframe th:if="${level!=0}" id="videoIframe" frameborder="no" border="0" src="http://e.vhall.com/webinar/inituser/356207165?embed=video" width="100%" height="100%"></iframe>
						</div>
						<div class="tab">
							<div class="tabTit">
								<a href="javascript:;" class="active tab1">公告</a>
								<a href="javascript:;" class="tab3">免责声明</a>
								<a href="javascript:;" class="tab5">平台背景</a>
							</div>
							<div class="box">
								<div class="htmleaf-container change">
									<div class="scrolls">
										<div class="nano has-scrollbar">
										  	<div class="nano-content" tabindex="0" style="right: -17px">
												<div class="section-focus-pic" id="section-focus-pic">
													<div class="pages" data-scro="list">
														 <ul>
															<li class="item" style="left:0px;">
																<img src="./banner/tab1.jpg"></img>
															</li>
															<li class="item">
																<img src="./banner/tab2.jpg"></img>
															</li>
															<li class="item">
																<img src="./banner/tab3.jpg"></img>
															</li>
															<li class="item">
																<img src="./banner/tab4.jpg"></img>
															</li>
														</ul>
													</div>
													<div class="controler" data-scro="controler">
														<b class="down"></b>
														<b></b>
														<b></b>
													</div>
													<div class="controler2" data-scro="controler2">
														<a href="javascript:;" class="prev"><i></i></a>
														<a href="javascript:;" class="next"><i></i></a>
													</div>
												</div>
											</div>
										</div>
									 </div>
								</div>
								<div class="htmleaf-container state">
									<div class="scrolls">
										<div class="nano has-scrollbar">
										  	<div class="nano-content" tabindex="0" style="right: -17px">
												<img src="images/mzsm_info.jpg" width="100%" ></img>
											</div>
										</div>
									 </div>
								</div>
								<div class="htmleaf-container ptjs">
									<div class="scrolls">
										<div class="nano has-scrollbar">
										  	<div class="nano-content" tabindex="0" style="right: -17px">
												<img src="images/ptjs_info.jpg" width="100%" ></img>
											</div>
										</div>
									 </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>







 <div class="fly">
	<b class="fly_word"></b>
</div> 
<div class="alertBox" style="display:none;">
	<div class="alertqq">
		<span>在线客服：</span>
		<a href="javascript:;"></a>
		<a href="javascript:;"></a>
		<a href="javascript:;"></a>
		<a href="javascript:;"></a>
		<a href="javascript:;"></a>
		<a href="javascript:;"></a>
	</div>
	<a href="javascript:;" class="reg"></a>
	<a href="javascript:;" class="alclose"></a>
</div>
<div class="look">
	<a href="javascript:;" class="reg"></a>
	<p>
		<a href="javascript:;"></a>
		<a href="javascript:;"></a>
		<a href="javascript:;"></a>
		<a href="javascript:;"></a>
		<a href="javascript:;"></a>
		<a href="javascript:;"></a>
	</p>
	<a href="javascript:;" class="loclose"></a>
</div>
<div class="leftPop">
	<!-- <a href="javascript:;" class="reg"></a> -->
	<a href="javascript:;" class="leclose"></a>
</div>
<div class="leftPop2">
	<!-- <a href="javascript:;" class="reg"></a> -->
	<a href="javascript:;" class="leclose"></a>
</div>

<div class="pop hide"></div>
<div class="knowledge hide">
	<h2>宝典下载<a href="javascript:;" class="close"></a></h2>
	<div class="know">
		<dl>
			<dt><img src="./images/know1.png"></img></dt>
			<dd>
				<p>《投资入门手册》</p>
				<a href="javascript:;">点击下载</a>
			</dd>
		</dl>
		<dl>
			<dt><img src="./images/know2.png"></img></dt>
			<dd>
				<p>《投资理财宝典》</p>
				<a href="javascript:;">点击下载</a>
			</dd>
		</dl>
	</div>
</div>
<div class="teachtb hide">
	<h2>老师介绍<a href="javascript:;" class="close"></a></h2>
	<div class="teachBox">
		<iframe src="./t.html" frameborder="0" style="width:100%; height:100%"></iframe>
	</div>
</div>

<div class="calendar hide">
	<iframe src="http://www.jin10.com/jin10.com.html" frameborder="0" style="width:100%; height:100%" id="iframebox"></iframe>
	<a href="javascript:;" class="close"></a>
</div>
<div class="course hide">
	<h2>课程安排<a href="javascript:;" class="close"></a></h2>
	<div class="cou">
		<table>
			<thead>
				<tr>
					<th>时间</th>
					<th>周一</th>
					<th>周二</th>
					<th>周三</th>
					<th>周四</th>
					<th>周五</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="lesson : ${lessons}">
					<td th:text="${lesson.times}"></td>
					<td>
						<strong th:text="${lesson.d1n}"></strong>
						<p th:text="${lesson.d1t}"></p>
					</td>
					<td>
						<strong th:text="${lesson.d2n}"></strong>
						<p th:text="${lesson.d2t}"></p>
					</td>
					<td>
						<strong th:text="${lesson.d3n}"></strong>
						<p th:text="${lesson.d3t}"></p>
					</td>
					<td>
						<strong th:text="${lesson.d4n}"></strong>
						<p th:text="${lesson.d4t}"></p>
					</td>
					<td>
						<strong th:text="${lesson.d5n}"></strong>
						<p th:text="${lesson.d5t}"></p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="plot hide">
	<h2>交易策略<a href="javascript:;" class="close"></a></h2>
	<input type="button" value="添加" id="addplotbtn" th:if="${level==11}" ></input>
	<input type="button" value="保存" id="saveplotbtn" th:if="${level==11}" ></input>
	<div class="plotdiv">
		<span class="plotspan current" data-type="new">最新</span><span class="plotspan" data-type="old">历史</span>
	</div> 
	<div class="cou">
		<table id="newplot" >
			<thead>
				<tr>
					<th>单号</th>
					<th>开仓时间</th>
					<th>类型</th>
					<th>商品</th>
					<th>开仓价</th>
					<th>止损价</th>
					<th>止盈价</th>
					<th>平仓时间</th>
					<th>平仓价</th>
					<th>获利点数</th>
					<th>分析师</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
		<table id="oldplot" class="phide">
			<thead>
				<tr>
					<th>单号</th>
					<th>开仓时间</th>
					<th>类型</th>
					<th>商品</th>
					<th>开仓价</th>
					<th>止损价</th>
					<th>止盈价</th>
					<th>平仓时间</th>
					<th>平仓价</th>
					<th>获利点数</th>
					<th>分析师</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>
<div class="aboutUs hide">
	<h2>关于我们<a href="javascript:;" class="close"></a></h2>
	<div class="cou">
		<iframe src="./AboutUs/index.html"  frameborder="no" border="0"  width="100%" height="100%"></iframe>
	</div>
</div>

<div class="login hide">
	<div class="logLeft">
		<h1>用户登录<!--<span><i></i> 还未注册帐户？赶紧注册一个<a href="javascript:;">GO</a></span> --></h1>
		<form action="/login" method="post" id="loginForm">
			<p>
				<label class="lab1"></label>
				<input type="text" placeholder="用户名" required="required" name="userName" id="login_userName"></input>
			</p>
			<p>
				<label class="lab3"></label>
				<input type="text" placeholder="密码" required="required" name="pwd" id="login_pwd"></input>
			</p>
			<input type="button" value="马上登录" class="mit loginbtn" ></input>
		</form>
		<!-- <a href="javascript:;" class="close"></a> -->
	</div>
	<div class="logRight">
		<a href="javascript:;"></a>
	</div>
</div>
<div id="uploadForm" style="position:absolute;background-color:white;display:none;">
    <input id="file" type="file" multiple="multiple"/>
    <button id="uploadBtn" type="button">上传</button>
</div>
<!-- <div class="popPsd">
	<form action="javascript:;" method="post">
		<p><label>密码</label><input type="password"></p>
		<input type="submit" class="passSub">
	</form>
</div> -->
<script type="text/javascript" src="./js/jquery.mCustomScrollbar.js"></script><!--滚动-->
<script type="text/javascript" src="./js/jquery.sinaEmotion.js"></script><!--表情彩条-->
<script type="text/javascript" src="./js/jquery-ui.js"></script><!--jquery-ui-->
<script type="text/javascript" src="./js/scrollTo.js"></script>
<script type="text/javascript" src="./js/resize.js"></script>
<script type="text/javascript" src="./js/jquery.JPlaceholder.js"></script>
<script type="text/javascript" src="./js/tab.js"></script>
<script type="text/javascript" src="./js/tinybox.js"></script>
<script src="./jcountdown/jquery.jcountdown.min.js"></script>
<script type="text/javascript" src="./js/script.js"></script>
<script type="text/javascript" src="./js/jquery.nanoscroller.js"></script>

<script src="./js/socket.io/socket.io.js"></script>
<script src="./js/moment.min.js"></script>

<script>
$(function(){
	$(window).load(function(){ 
		$(".section-focus-pic").height($(".section-focus-pic ul img").height());
	})
})
</script>
<script type="text/javascript" src="./js/jquery.nicescroll.js"></script>
<script type="text/javascript">
$("#platBox").niceScroll({  
	cursorcolor:"#b0b0b0",  
	cursoropacitymax:1,  
	touchbehavior:false,  
	cursorwidth:"5px",  
	cursorborder:"0",  
	cursorborderradius:"5px"  
})
</script>
<script th:inline="javascript">  
	var clientid = [[${clientId}]];
	var targetClientId="";
	var serverUrl= [[${serverUrl}]];
	var level= [[${level}]];
	var status= [[${status}]];
</script>
<script type="text/javascript" src="./js/socket.js" ></script>
<script type="text/javascript" src="./js/index.js"></script>
</body>
</html>